.content
  .content__blog-one
    .post
      .post__head: img(src='./../../assets/img/b1-1.jpg' alt='post image')
      .post__body
        .post__label Tourism
        +postInfo
    .post
      .post__head: img(src='./../../assets/img/b1-2.png' alt='post image')
      .post__body
        .post__label Sport
        +postInfo
    .post
      .post__head: img(src='./../../assets/img/b1-3.png' alt='post image')
      .post__body
        .post__label Fashion
        +postInfo
    .post
      .post__head: img(src='./../../assets/img/b1-4.png' alt='post image')
      .post__body
        .post__label Glothes
        +postInfo
    .post
      .post__head: img(src='./../../assets/img/b1-5.png' alt='post image')
      .post__body
        .post__label Glothes
        +postInfo
    .post
      .post__head: img(src='./../../assets/img/b1-6.png' alt='post image')
      .post__body
        .post__label Fashion
        +postInfo
  .content__blog-two
    .post
      .post__head: img(src='./../../assets/img/b2.jpg' alt='post image')
      .post__body
        .post__label Summer
        h3.post__title.
          One of Saturn's largest rings may be newer than anyone
        .post__info
          span.hero__date June 6, 2019
          span.hero__author Rickie Baroch
          span.hero__comments 6 comments
        .post__desc.
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
  .content__blog-tree
    .post
      .post__head: img(src='./../../assets/img/b3-1.png' alt='post image')
      .post__body
        .post__label Autumn
        +postInfo
    .post
      .post__head: img(src='./../../assets/img/b3-2.png' alt='post image')
      .post__body
        .post__label Glothes
        +postInfo
    .post
      .post__head: img(src='./../../assets/img/b3-3.png' alt='post image')
      .post__body
        .post__label Summer
        +postInfo
    .post
      .post__head: img(src='./../../assets/img/b3-4.png' alt='post image')
      .post__body
        .post__label Summer
        +postInfo
  .pagination
    .pagination__list
      a.pagination__older(href="#").
        Older post
      a.pagination__number(href="#") 1
      a.pagination__number(href="#") 2
      a.pagination__number(href="#") 3
      a.pagination__number(href="#") ...
      a.pagination__number(href="#") 8
      a.pagination__next(href="#").
        Next post
