footer.footer
  a.logo(href='#') Fashion
  ul.footer__menu
      each value in menu
        li.footer__item: a.footer__link(href='#') #{value}
  ul.footer__list
    li.footer__item: a.footer__link(href="#"): img(src="./../../assets/svg/facebook.svg" alt="icon facebook")
    li.footer__item: a.footer__link(href="#"): img(src="./../../assets/svg/twitter_active.svg" alt="icon twitter")
    li.footer__item: a.footer__link(href="#"): img(src="./../../assets/svg/pinterest.svg" alt="icon pinterest")
    li.footer__item: a.footer__link(href="#"): img(src="./../../assets/svg/google_play.svg" alt="icon google")
    li.footer__item: a.footer__link(href="#"): img(src="./../../assets/svg/behance.svg" alt="icon behance")
    li.footer__item: a.footer__link(href="#"): img(src="./../../assets/svg/instagram.svg" alt="icon instagram")
  p.copyright @2019&nbsp;Logwork. All&nbsp;Right&nbsp;Reserved.
