header.header
  nav.nav
    h1.nav__logo: a.logo(href='#') Fashion
    ul.nav__menu
      each value in menu
        li.nav__item: a.nav__link(href='#') #{value}
  .hero
    .hero__container
      .hero__head
        .hero__label venicle
        h2.hero__title.
          One of Saturn's largest rings may be newer than anyone
        .hero__info
          span.hero__date June 6, 2019
          span.hero__author Rickie Baroch
          span.hero__comments 4 comments
