-
  let menu = ['Home', 'Recipes', 'Article', 'Contact', 'Purchase'];

  let listTags = ['Business', 'Freelance', 'Money', 'Experience', 'Lifestyle', 'SEO', 'Wordpress', 'Marketing', 'UX', 'Modern', 'Success', 'Nature'];
