.widget
  h3.widget__title Follow our @instagram_name
  .widget__images
    .widget__img: img(src="./../../assets/img/w1.png" alt="image")
    .widget__img: img(src="./../../assets/img/w2.jpg" alt="image")
    .widget__img: img(src="./../../assets/img/w3.png" alt="image")
    .widget__img: img(src="./../../assets/img/w4.png" alt="image")
    .widget__img: img(src="./../../assets/img/w5.png" alt="image")
    .widget__img: img(src="./../../assets/img/w6.png" alt="image")
