$bg = #FFFFFF
$on-bg = #171717
$on-image = #FFFFFF
$on-bg-variant = #666666
$postShadow = #B1B1B1
$surface = #F8F9FA
$surfaceBorder = #E5E5E5
$surfaceIcon = #5A5A5A
$surfaceText = #999999
$accent = #C9A96E

$serif = 'PT Serif', serif
$sans = 'PT Sans', sans-serif
$line-heightHeroTitle = 50px
$line-heightTitle = 28px
$line-heightText = 24px

$widthCard = 370px
$heightCard = 411px
$widthCardSmall = 270px
$heightCardSmall = 287px
$widthCardImg = 370px
$heightCardImg = 280px
$widthCardSmallImg = 270px
$heightCardSmallImg = 160px
$widthWidgetImg = 296px
$heightWidgetImg = 296px
$widthPagination = 509px
$heightPagination = 50px
$widthSocialItem = 88px
$heightSocialItem = 88px
$paddingTagLink = 6px 15px

$container = 1170px
$containerNav = 1760px
$containerContent = 770px
$containerSidebar = 270px
